<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de veículos</title>
</head>
<body>
    <h1>Cadastro de veículos</h1>
    <hr/>
    <form>

    </form>
</body>
</html>
